/* Globals */

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
  text-align: center;
  margin: 2px 2px 5px 2px;
}

h3 {
  font-size: 24px;
  text-align: right;
}

/* Page Sections */

/* Header */
header {
  margin: 0;
}

header img {
  width: 75px;
  height: 75px;
}

/* Work Samples */
.samples-heading {
  padding-left: 0;
}

.samples-heading h2 {
  padding-top: 25px;
  font-size: 40px;
}

.splash img {
  padding-top: 0;
}

/* Center Screnshots */
.samples img{
  margin-left: auto;
  margin-right: auto;
}

.samples h3 {
  padding-right: 8px;
  margin: 0;
}

/* Remove columns from mobile site */
.samples .col-md-4 {
  max-width: 300px;
  width: 100%;
}

.panel {
  padding: 0 5px;
}
