/* Globals */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

img, 
embed, 
object, 
video {
    max-width: 100%;
}

h1 {
    color: #747704;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 0;
}

h2 {
    color: #bcbbbb;
}

h3 {
    color: #747704;
    text-transform: uppercase;
    font-size: 30px;
}

p, p i {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    color: #bcbbbb;
}

/* Flex-box grid setup */
.container {
    width: 100%;
}

.row { 
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-md-1 {
    width: 8.333%;
}

.col-md-2 {
    width: 16.666%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.333%;
}

.col-md-5 {
    width: 41.666%;
}

.col-md-6 {
    width: 50%;
}

.col-md-7 {
    width: 58.333%;
}

.col-md-8 {
    width: 66.666%;
}

.col-md-9 {
    width: 75%;
}

.col-md-10 {
    width: 83.333%;
}

.col-md-11 {
    width: 91.666%;
}

.col-md-12 {
    width: 100%;
}

/* Sections */

/* Header */
header {
    margin: 50px 0 20px 0;
    padding-bottom: 5px;
    border-bottom: 3px solid #bcbbbb;
}

header p {
    color: #747704;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-align: right;
    margin: 0;
}

/* Splash */
.splash img {
    padding: 10px 0 20px 0;
}

/* Samples */
.samples-heading {
    padding-left: 25px;
}

.samples {
    margin-bottom: 50px;
}

.samples .col-md-4 {
    max-width: 320px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}

.samples img {
    width: 300px;
    margin:0 10px 0 10px;
}

.samples a:link,
.samples a:hover,
.samples a:visited,
.samples a:active {
    color: #bcbbbb;
    text-decoration: none;
}

