<!doctype html>
<html ng-app="portfolio">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Portfolio | Eric Pierce</title>

  <!--Google Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <!--External frameworks-->
  <link rel="stylesheet" href="framework/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="framework/font-awesome-4.6.3/css/font-awesome.min.css">

  <!--CSS sheets-->
	<link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" media="(max-width:976px)" href="css/mobile.css">
  <link rel="stylesheet" media="(min-width:616px)" href="css/medium.css">
  <link rel="stylesheet" media="(min-width:977px)" href="css/large.css">
</head>
<body>
  <div class="container">

  	<!--Header-->
		<header class="heading row">
			<div class="col-md-3"><img src="images/logo.jpg" alt="logo"></div>
			<div class="col-md-9">
				<h1 class="text-right">Eric Pierce</h1>
        <p class="text-right">Sound Collage Artist</p>
			</div>
		</header>

    <!--Splash-->
		<div class="splash row">
      <div class="col-md-12 focus-img">
        <!--<img src="images/focus.jpg" alt="Splash image" class="img-responsive">-->
      </div>
		</div>

    <div class="row">
      <div class="col-md-12 page-heading"><h2>Featured Work</h2></div>
    </div>

    <!--Page switcher-->
    <div ng-controller="PageSwitcher as switcher">

      <!--Main page-->
      <div class="panel" ng-show="switcher.isSelected(-1)">


        <article class="samples" ng-controller="PageData as data">
          <!--Albums-->
          <div class="row">
            <div class="col-md-4 sample-img" ng-repeat="album in data.playlist">
              <img ng-src="{{album.cover}}" ng-click="switcher.selectTab($index)" alt="{{album.title}} album cover" class="img-responsive">
              <h3 class="sample-title">{{album.title}}</h3>
              <p class="description">{{album.descShort}}</p>
            </div>
          </div>
        </article>
      </div>

      <!--Album pages-->
      <div ng-controller="PageData as data">
        <div ng-repeat="album in data.playlist">
          <div class="panel" ng-show="switcher.isSelected({{$index}})">
            <div>
              <div class="col-md-12 page-heading">
                <h2>{{album.title}}</h2>
              </div>

              <div class="music-holder">
                <div class="playlist">
                  <img ng-src="{{album.cover}}" alt="{{album.title}} album cover">
                  <ol class="song-list">
                    <li ng-repeat="track in album.tracks"><span ng-attr-id="$index" ng-class="{{album.class}}"><span class="song-left">{{$index +   1}}: {{track.name}}</span><span class="song-right">{{track.trackLength}}</span></span></li>
                  </ol>
                </div>
                <!--Audio player based in part on https://www.script-tutorials.com/html5-audio-player-with-playlist/-->
					  		<div class="audio-bar">
						  		<div class="player">
							  		<div class="controls">
								  		<span class="rev"><i class="fa fa-backward" aria-hidden="true"></i></span>
									  	<span class="play"><i class="fa fa-play" aria-hidden="true"></i></span>
										  <span class="pause"><i class="fa fa-pause" aria-hidden="true"></i></span>
  										<span class="fwd"><i class="fa fa-forward" aria-hidden="true"></i></span>
	  								</div>
		  							<div class="track-info">
			  							<span class="title"></span>
				  					</div>
					  				<div class="volume"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
						  		</div>
							  </div>
              </div>

              <div class="desc-holder">{{album.descLong}}</div>

              <a href ng-click="switcher.selectTab(-1)">return</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--framework scripts-->
  <script src="framework/jquery-1.12.0.min.js"></script>
  <script src="framework/bootstrap/js/bootstrap.min.js"></script>
  <script src="framework/angular.min.js"></script>
  <!--local scripts-->
  <script src="js/scripts.js"></script>
  <script src="js/app.js"></script>
  <script src="js/album-page.js"></script>
</body>
</html>
