<div ng-controller="AlbumData as data">
  <div ng-repeat="album in data.playlist">
    <div class="panel" ng-show="switcher.isSelected({{$index}})">
      <div>
        <div class="col-md-12 page-heading">
          <h2>{{album.title}}</h2>
        </div>

        <div class="music-holder">
          <div class="playlist">
            <img ng-src="{{album.cover}}" alt="{{album.title}} album cover">
            <ol class="song-list">
              <li ng-repeat="track in album.tracks" ng-click="data.initAudio(album, $index)"><span class="song-left">{{$index + 1}}: {{track.name}}<span class="song-right">{{track.trackLength}}</span></span></li>
            </ol>
          </div>

          <!--Audio player based in part on https://www.script-tutorials.com/html5-audio-player-with-playlist/-->
          <div class="audio-bar">
            <div class="player">
              <div class="controls">
                <span class="rev" ng-click="data.rev()"><i class="fa fa-backward" aria-hidden="true"></i></span>
                <span class="play" ng-click="data.play()"><i class="fa fa-play" aria-hidden="true"></i></span>
                <span class="pause" ng-click="data.pause()"><i class="fa fa-pause" aria-hidden="true"></i></span>
                <span class="fwd" ng-click="data.fwd()"><i class="fa fa-forward" aria-hidden="true"></i></span>
              </div>
              <div class="track-info">
                <span class="title"></span>
              </div>
              <div class="volume" ng-click="data.mute()"><i class="fa fa-volume-up" aria-hidden="true"></i></div>
            </div>
          </div>
        </div>

        <div class="desc-holder" ng-attr-id="{{album.class}}-desc"></div>

        <div class="clear"><div>

        <a ng-click="switcher.selectTab(-1); data.eraseSong()" class="btn btn-default btn-return" role="button"><i class="fa fa-undo" aria-hidden="true"></i>  Return</a>

        <div class="clear"><div>
      </div>
    </div>
  </div>
</div>
